
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="600" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
</head>
<body>
    <div id="indexd">
    <h1>Welcome to BocaJS Developer Game Day 2020</h1>
    <label for="name">What's your Name? It MUST match Zoom name!)</label>

    </div>





<script src="index.js"></script>
</body>
</html>