<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <title>BocaJS Game Show 2020</title>
    <link rel="stylesheet" media="all" href="GameBoard.css">
    <script src="socket.io.js"></script>
</head>
<body>
<div>
    <div id="board" class="board">
      <div id="categories" class="row categories">
      </div>
    </div>
  </div>
  <script src="GameBoard.js"></script>
</body>
</html>