*,
*:before,
*:after {
  box-sizing: border-box;
}

.board {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.board .row {
  -webkit-box-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.board .row .tile {
  top: 0;
  bottom: 0;
  -webkit-box-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 3.5vw;
  font-family: impact;
  color: #ddd;
  background: -webkit-gradient(linear, right bottom, left top, from(#000088), to(#0000ff));
  background: linear-gradient(to top left, #000088, #0000ff);
  border: 3px solid #000;
}
.board .row .question-value {
  display: block;
}
.board .row .question-answer {
  display: none;
}
.board .row .tile.active {
  border-width: 0;
  font-size: 10vw;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}
.board .row .tile.active .question-value {
  display: none;
}
.board .row .tile.active .question-answer {
  display: block;
}

.winner {
  font-size: 5vw;
} 

.question-answer {
  text-align: center;
} 

.buzzerName {
  display: inline-block;
  margin-right: 150px;
}